//
// button.scss
//

.btn {
  display: inline-block;
  border: 1px solid transparent;
  background: $btn-default-background;
  color: $btn-default-color;
  padding: $btn-padding-y $btn-padding-x;
  margin-bottom: $btn-margin-bottom;
  font-size: $btn-font-size;
  text-decoration: $btn-text-decoration;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius;
  transition: $btn-transition;
  cursor: $btn-cursor;

  &:hover {
    background: $btn-default-background-hover;
    color: $btn-default-color-hover;
  }
}

.btn-primary {
  background: $btn-primary-background;
  color: $btn-primary-color;

  &:hover {
    background: $btn-primary-background-hover;
    color: $btn-primary-color-hover;
  }
}

.btn-secondary {
  background: $btn-secondary-background;
  color: $btn-secondary-color;

  &:hover {
    background: $btn-secondary-background-hover;
    color: $btn-secondary-color-hover;
  }
}

.btn-outlined {
  background: transparent;
  color: $btn-outlined-color;
  border-color: $btn-outlined-background;

  &:hover {
    background: transparent;
    color: $btn-outlined-color-hover;
    border-color: $btn-outlined-background-hover;
  }

  &.btn-primary {
    border-color: $btn-primary-outlined-background;
    color: $btn-primary-outlined-color;

    &:hover {
      border-color: $btn-primary-outlined-background-hover;
      color: $btn-primary-outlined-color-hover;
    }
  }

  &.btn-secondary {
    border-color: $btn-secondary-outlined-background;
    color: $btn-secondary-outlined-color;

    &:hover {
      border-color: $btn-secondary-outlined-background-hover;
      color: $btn-secondary-outlined-color-hover;
    }
  }
}

// Button states

button:disabled,
button:disabled:hover,
.btn.is-disabled,
.btn.is-disabled:hover {
  background: $btn-disabled-background;
  color: $btn-disabled-color;
  cursor: $btn-disabled-cursor;
  pointer-events: none;
}

// Button sizes

.btn-xs {
  padding: $btn-xs-padding-y $btn-xs-padding-x;
  font-size: $btn-xs-font-size;
}

.btn-sm {
  padding: $btn-sm-padding-y $btn-sm-padding-x;
  font-size: $btn-sm-font-size;
}

.btn-lg {
  padding: $btn-lg-padding-y $btn-lg-padding-x;
  font-size: $btn-lg-font-size;
}

.btn-xl {
  padding: $btn-xl-padding-y $btn-xl-padding-x;
  font-size: $btn-xl-font-size;
}
