//
// form.scss
//

form {

}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"] {
  display: inline-block;
  appearance: none;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: $input-margin-bottom;
  border: $input-border;
  border-radius: $input-border-radius;
}

input[type="checkbox"],
input[type="radio"] {
  + label {
    display: inline-block;
    padding: 0 1.5rem 0 0.5rem;
    margin: 0;
    vertical-align: middle;
  }
}

button,
input[type="submit"] {
  margin-bottom: 1rem;
  appearance: none;
}
