//
// header.scss
//

header#header {
  @include grid-container;
  @include position(fixed, 0 0 null 0);
  z-index: 1000;

  a {
    text-decoration: none;
  }
}

#brand {
  @include grid-column(6);

  a {
    padding: 1.5rem 0;
    display: block;
  }
}

#menu {
  @include grid-column(6);

  ul {
    float: right;
  }

  li {
    margin-left: 1.5rem;
  }

  a {
    padding: 1.5rem 0;
    display: block;
  }
}
