//
// posts.scss
//


.posts {
  @include container;
}

.post {
  @include grid-column(12);
  margin-top: 3rem;

  @include grid-media($neat-grid-md) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid-lg) {
    @include grid-column(4);
  }

  a {
    display: block;
    text-decoration: none;
  }
}
