//
// post.scss
//

.single {
  #header {
    a {
      color: $white;
    }

    .state--scrolled & {
      color: inherit;

      a {
        color: inherit;
      }
    }
  }
}

.single-post {

}

.post-header {
  position: relative;
  margin-top: -$header-height;

  h1 {
    margin-bottom: 0;
  }
}

.post-header-image {
  @include background-image;
}

.post-header-inner {
  @include container;
  @include align-middle;

  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  color: $white;
}

.post-content {
  @include container;

  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 6%;
  padding-right: 6%;
}

.post-content-inner {
  @include grid-column(12);
}
