//
// post.scss
//

.article-post {
  @include container;
}

.article-header {
  @include grid-column(12);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }
}

.article-content {
  @include grid-column(12);
}
