//
// global.scss
//

a {
  color: $black;

  &:hover {
    color: rgba($black, 0.8);
  }
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

#main {
  padding-top: $header-height;
}
