//
// mixins.scss
//

@mixin container {
  @include grid-container;
  max-width: $grid-max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin heading-1 {
  font-size: 4rem;

  @include grid-media($neat-grid-md) {
    font-size: 5.5rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 7rem;
  }
}

@mixin heading-2 {
  font-size: 3.5rem;

  @include grid-media($neat-grid-md) {
    font-size: 4rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 5.5rem;
  }
}

@mixin heading-3 {
  font-size: 3rem;

  @include grid-media($neat-grid-md) {
    font-size: 3.5rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 4rem;
  }
}

@mixin heading-4 {
  font-size: 2.5rem;

  @include grid-media($neat-grid-md) {
    font-size: 3rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 3.5rem;
  }
}

@mixin heading-5 {
  font-size: 2rem;

  @include grid-media($neat-grid-md) {
    font-size: 2.5rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 3rem;
  }
}

@mixin heading-6 {
  font-size: 1.6rem;

  @include grid-media($neat-grid-md) {
    font-size: 1.8rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 2rem;
  }
}
