//
// typo.scss
//

html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;

  @include grid-media($neat-grid-md) {
    font-size: 1.8rem;
  }

  @include grid-media($neat-grid-lg) {
    font-size: 2rem;
  }
}

p {
  margin: 0 0 1.5rem 0;
  line-height: 1.5;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

h1, .h1 {
  @include heading-1;
}

h2, .h2 {
  @include heading-2;
}

h3, .h3 {
  @include heading-3;
}

h4, .h4 {
  @include heading-4;
}

h5, .h5 {
  @include heading-5;
}

h6, .h6 {
  @include heading-6;
}
