//
// variables.scss
//

// Grid

$grid-columns: 12 !default;
$grid-gutter: 15px !default;
$grid-max-width: 1170px !default;

$neat-grid: (
  columns: $grid-columns,
  gutter: $grid-gutter
);

$grid-media-sm: 576px !default;
$grid-media-md: 768px !default;
$grid-media-lg: 992px !default;
$grid-media-xl: 1200px !default;
$grid-media-xxl: 1400px !default;

// Grid media

$neat-grid-sm: (
  media: $grid-media-sm
);

$neat-grid-md: (
  media: $grid-media-md
);

$neat-grid-lg: (
  media: $grid-media-lg
);

$neat-grid-xl: (
  media: $grid-media-xl
);

$neat-grid-xxl: (
  media: $grid-media-xxl
);

// Colors

$black: #000;
$white: #fff;
$light-grey: #eee;
$grey: #ccc;
$dark-grey: #999;
$darker-grey: #666;
$blue: #1555CC;

$border-radius: 0.3rem;

// Buttons

$btn-padding-x: 1.4rem;
$btn-padding-y: 1rem;
$btn-margin-bottom: 1rem;
$btn-font-size: 1.8rem;
$btn-font-weight: normal;
$btn-text-decoration: none;
$btn-border-radius: $border-radius;
$btn-transition: background 0.3s, color 0.3s, border 0.3s;
$btn-cursor: pointer;

$btn-default-background: $grey;
$btn-default-color: $white;
$btn-default-background-hover: darken($btn-default-background, 5%);
$btn-default-color-hover: $btn-default-color;

$btn-primary-background: $blue;
$btn-primary-color: $white;
$btn-primary-background-hover: darken($btn-primary-background, 5%);
$btn-primary-color-hover: $btn-primary-color;

$btn-secondary-background: $black;
$btn-secondary-color: $white;
$btn-secondary-background-hover: lighten($btn-secondary-background, 10%);
$btn-secondary-color-hover: $btn-secondary-color;

$btn-outlined-background: darken($grey, 30%);
$btn-outlined-color: darken($grey, 30%);
$btn-outlined-background-hover: darken($btn-outlined-background, 10%);
$btn-outlined-color-hover: darken($btn-outlined-color, 10%);

$btn-primary-outlined-background: $blue;
$btn-primary-outlined-color: $blue;
$btn-primary-outlined-background-hover: darken($btn-primary-outlined-background, 20%);
$btn-primary-outlined-color-hover: darken($btn-primary-outlined-color, 20%);

$btn-secondary-outlined-background: $black;
$btn-secondary-outlined-color: $black;
$btn-secondary-outlined-background-hover: lighten($btn-secondary-outlined-background, 20%);
$btn-secondary-outlined-color-hover: lighten($btn-secondary-outlined-color, 20%);

$btn-disabled-background: $light-grey;
$btn-disabled-color: $grey;
$btn-disabled-cursor: default;

$btn-xs-padding-y: 0.6rem;
$btn-xs-padding-x: 1rem;
$btn-xs-font-size: 1.4rem;

$btn-sm-padding-y: 0.8rem;
$btn-sm-padding-x: 1.2rem;
$btn-sm-font-size: 1.6rem;

$btn-lg-padding-y: 1.2rem;
$btn-lg-padding-x: 1.6rem;
$btn-lg-font-size: 2.2rem;

$btn-xl-padding-y: 1.4rem;
$btn-xl-padding-x: 1.8rem;
$btn-xl-font-size: 2.4rem;

// Inputs

$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-margin-bottom: 1.5rem;
$input-border: 1px solid $black;
$input-border-radius: $border-radius;

// Layouts

$header-height: 5.3rem;
