---
title: Contentful Middleman
---

<div class="posts">
  <% data.space.post.each do |id, post| %>
    <div class="post">
      <h2><%= post['name'] %></h2>
      <%= Kramdown::Document.new(post['content']).to_html %>
    </div>
  <% end %>
</div>
